.all_part_top{
    padding-top: 120px;
}


.nav_brand{
    font-weight:700; 
    font-size:30px; 
    color: #012970;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    

}
.nav_txt_color{
    color: #013289;
    font-weight:700;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    padding-left:15px!important;
    padding-right:15px!important;
   
}
.drop_down_txt_color{
    color: #013289;
    font-weight:600;
    font-size: 16px;
    
    font-family: 'Nunito', sans-serif;
    padding-left:15px!important;
    padding-right:15px!important;
}

.get_started_1{
    border-radius: 5px;
    background-color: #4154f1;
    color: white;
    font-weight: 600;
    width: 123px;
    border: none;
    margin-left: 15px;
    font-family: 'Nunito', sans-serif;
}
.get_started_1:hover{
    background-color: #5F68ED;
    border: none;
}
.get_started_2{
    border-radius:4px;
    background-color: #4154f1;
    color: white;
    font-weight: 600;
    width: 195px;
    border: none;
    height: 45px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
}
.txt_h1{
    font-size: 48px;
    font-weight:700 ;
    color: #012970;
    letter-spacing: 1px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Nunito', sans-serif;
}
.side_padding{
    max-width:100%; 
    padding-left:40px;
}
.txt_frst_p{
    font-size: 26px;
    font-family:'Nunito', sans-serif ;
    color: #444444;
    line-height: 1.2;
    margin-top: 15px;
}

@media screen and (max-width:768px) {
    .txt_h1 {
     
       display: flex;
       text-align: center;
       font-size: 32px;
       
    }
    .txt_frst_p{
       
       display: flex;
       text-align: center;
    }
    .media_get_started_1{
        display: flex;
        justify-content: center!important;
    }

  }

.txt_p{
    font-size:18px;
    font-family:'Nunito', sans-serif ;
    color: #444444;
    line-height: 1.2;
    margin-top: 15px; 
    display: flex;
    justify-content: center;
}
.txt_h5{
    font-size:23px;
    font-weight:700 ;
    color: #012970; 
}
.all_p_header{
    color: #4154f1;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}
.all_h2_header{
    color: #012970;
    font-size:39px ;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;

}
.img_size{
    width: 260px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 70px;
    max-width: 100%;
    
}
.img_size:hover{
    transform: scale(1.1);
    transition: 0.3s all ease;
}
.txt_algn{
    text-align: center;
     max-width: 89%;
}
.feature_h3{
    font-size: 18px;
    color: #012970;
    font-weight: 700;
    padding-top: 70px;
    padding-left: 30px;
}